@import '../js/lib/hotcss/px2rem.scss';
@import '~antd/dist/antd.css';
$designWidth: 640;
html {
  background: url(../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo-row {
  margin: 3rem auto;
}

.input-row {
  margin: 2rem auto;
  u{
    color: #ffffff;
    text-align: center;
        display: block;
        cursor:pointer;
  }
}

body {
  background-color: inherit;
  width: px2rem(640);
  margin: 0 auto;
  padding: 0;
  font-size: .8rem;
}

.button {
  width: px2rem(560);
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 2rem;
  font-size: 1rem;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: white;
  background-color: #5f93e7;
  padding: 0;
  border: none;
}

.input {
  line-height: 2rem;
  font-size: .8rem;
  margin-left: 1rem;
  margin-right: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
}

.img-logo {
  width: px2rem(320);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.bottom-row {
  margin: 0 auto;
  position: fixed;
  bottom: 1rem;
  width: 100%;
}

.bottom-register{
  margin: 0 auto;
  -moz-border-radius: 1em;
  border-radius: 1em;
  width:100%;
}
form{
  margin: 1rem;
  .ant-form-item-label {
  label {
    color: #ffffff;
    font-size: 18px;
   }
  }
  .ant-input-lg{
   height: 43px;
  }
  
}

